<h2>Personnages du projet « {{ @project.title }} »</h2>

<p><a class="button" href="{{ @base }}/project/{{ @project.id }}" title="Retour au projet" title="Retour au projet"><i
            class="fas fa-arrow-left"></i></a></p>

<p><a class="button" href="{{ @base }}/project/{{ @project.id }}/character/create" title="Ajouter un personnage"
        title="Ajouter un personnage"><i class="fas fa-plus" aria-hidden="true"></i></a></p>

<check if="{{ empty(@characters) }}">

    <true>

        <p>Aucun personnage pour ce projet.</p>

    </true>

    <false>

        <table>

            <thead>

                <tr>

                    <th>Nom</th>

                    <th>Description</th>

                    <th>Actions</th>

                </tr>

            </thead>

            <tbody>

                <repeat group="{{ @characters }}" value="{{ @char }}">

                    <tr>

                        <td>{{ @char.name }}</td>

                        <td>{{ nl2br(@char.description) }}</td>

                        <td>

                            <a class="button" href="{{ @base }}/character/{{ @char.id }}/edit" title="Modifier"
                                title="Modifier le personnage"><i class="fas fa-edit" aria-hidden="true"></i></a>

                            <a class="button delete js-confirm" href="{{ @base }}/character/{{ @char.id }}/delete"
                                data-confirm="Supprimer ce personnage ?" title="Supprimer"
                                title="Supprimer le personnage"><i class="fas fa-trash" aria-hidden="true"></i></a>

                        </td>

                    </tr>

                </repeat>

            </tbody>

        </table>

    </false>

</check>


</script>