<include href="project/inc/_project_overview_collab_banner.html" />

<div class="overview-layout">
  <div class="overview-main">
    <include href="project/inc/_project_overview_topbar.html" />
    <include href="project/inc/_project_overview_sections_before.html" />
    <include href="project/inc/_project_overview_content.html" />
    <include href="project/inc/_project_overview_custom_elements.html" />
    <include href="project/inc/_project_overview_sections_after.html" />
    <include href="project/inc/_project_overview_scenarios.html" />
    <include href="project/inc/_project_overview_notes.html" />
    <include href="project/inc/_project_overview_files.html" />
  </div>

</div>

<div id="saveStatus" class="save-status">Ordre enregistré !</div>

<include href="project/inc/_project_overview_modals.html" />
